.game-item {
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  overflow: hidden;

  &__background {
    width: 100%;
    height: 200px;
    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }
  }

  &__info {
    background-color: var(--white-gray);
    padding: 0.8rem;

    & > div {
      display: flex;
      align-items: center;
      margin-bottom: 0.8rem;
    }
  }
  &__platforms {
    flex-grow: 1;

    & > span {
      display: inline-block;
      margin-right: 5px;
    }
  }
  &__metascore {
    @include metascore;
  }
  &__title {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 0.5rem;
  }
}
