:root {
  --white-gray: #f2f2f2;
  --text-color: #505050;
}

@mixin container-style {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin m-query($point) {
  @if $point == $desktop {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == $laptop {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $point == $tablet {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == $mobile {
    @media (max-width: 576px) {
      @content;
    }
  }
}

@mixin metascore {
  width: 32px;
  height: 32px;
  border: 2px solid var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: default;
}
